SOAP/DOTNET/HelloSoapClient/HelloSoapClient/Connected Services/MyServiceReference/MyServiceWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MyServiceWsdl" targetNamespace="http://localhost/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <xs:element name="HelloWorld_Request">
        <xs:complexType />
      </xs:element>
      <xs:element name="HelloWorld_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="answer" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GreetUser_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="age" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GreetUser_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="answer" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCityInfo_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCityInfo_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="answer" type="tns:cityinfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="cityinfo">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="population" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="area" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="HelloWorld_RequestMessage">
    <part name="parameters" element="tns:HelloWorld_Request" />
  </message>
  <message name="HelloWorld_ResponseMessage">
    <part name="parameters" element="tns:HelloWorld_Response" />
  </message>
  <message name="GreetUser_RequestMessage">
    <part name="parameters" element="tns:GreetUser_Request" />
  </message>
  <message name="GreetUser_ResponseMessage">
    <part name="parameters" element="tns:GreetUser_Response" />
  </message>
  <message name="GetCityInfo_RequestMessage">
    <part name="parameters" element="tns:GetCityInfo_Request" />
  </message>
  <message name="GetCityInfo_ResponseMessage">
    <part name="parameters" element="tns:GetCityInfo_Response" />
  </message>
  <portType name="MyServicePortType">
    <operation name="HelloWorld">
      <input message="tns:HelloWorld_RequestMessage" />
      <output message="tns:HelloWorld_ResponseMessage" />
    </operation>
    <operation name="GreetUser">
      <input message="tns:GreetUser_RequestMessage" />
      <output message="tns:GreetUser_ResponseMessage" />
    </operation>
    <operation name="GetCityInfo">
      <input message="tns:GetCityInfo_RequestMessage" />
      <output message="tns:GetCityInfo_ResponseMessage" />
    </operation>
  </portType>
  <binding name="MyServiceBinding" type="tns:MyServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="HelloWorld">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GreetUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCityInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyService">
    <port name="MyServicePort" binding="tns:MyServiceBinding">
      <soap:address location="http://myservice.loc/server.php" />
    </port>
  </service>
</definitions>